body, * {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     scroll-behavior: smooth;
}

header {
     background-color: rgb(5, 191, 178);
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 70px;
     color: white;
     position: fixed;
     width: 100%;
     z-index: 100;
}

nav ul {
     display: flex;
     justify-content: space-evenly;
     list-style: none;
}

nav ul li a {
     margin: 0px 15px;
     text-decoration: none;
     font-weight: 500;
     color: #FFF;
     padding: 5px 10px;
}

nav ul li a:active {
     background-color:  rgb(2, 121, 113);
}

.main-body {
     padding-top: 70px;
}

.container-fluid {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(242, 253, 250);
     transition: ease-in-out 0.5s;
}

.container-fluid .image img {
     width: 500px;
     height: 500px;
}

.container-fluid .intro {
     width: 450px;
     line-height: 2rem;
}

.container-fluid .intro div .sub-title {
     font-weight: 600;
     font-size: 16px;
}

.container-fluid .intro p {
     margin-top: 10px;
}

.container {
     margin: 0px 10%;
}

#photos div h1 {
     padding-top: 70px;
     text-align: center;
     color: rgb(6, 148, 220);
     font-size: 30px;
     margin-bottom: 20px;
}

#photos .cake-section {
     margin: 10px 200px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: wrap;
}

#photos .cake-section .cake-image {
     background-color: #FFF;
     margin: 30px 40px;
     box-shadow: -1px 1px 5px 5px #ccc;
}

#photos .cake-section .cake-image:hover {
     cursor: pointer;
     transition: ease-in-out 0.3s;
     transform: scale(1.02);
}

#photos .cake-section .cake-image div img {
     height: 250px;
}

#photos .cake-section .cake-image div {
     text-align: center;
     padding: 10px;
}

#photos .cake-section .more-image-btn {
     display: block;
     margin-left: 75%;
     margin-top: 30px;
}
#photos .cake-section .more-image-btn button {
     padding: 8px 15px;
     border: none;
     outline: none;
     background-color: rgb(5, 191, 178);
     color: #FFF;
     font-weight: 600;
}